<ion-view>

  <ion-content class="padding">
    <div>
      <input type="text" name="track_id" id="track_id" placeholder="Nombre del sitio">
      <p id="info_captura"></p>
      <p id="info_captura2"></p>
      <!--button ng-click="testVelocity()" class="button">Prueba algoritmo velocidad</button-->
      <button ng-click="start()" class="button button-positive">Capturar punto</button>
      <button id="iniciar" class="button button-positive">Capturar punto 2</button>
      <!--button ng-click="stop()" class="button button-positive">Detener captura</button-->
    </div>
    
    <div id="walkMap"></div>     
  </ion-content>
  
</ion-view>