<!--
Menu superior desplegado en pestañas
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  
  <!-- Pestaña visor de LPS y detector de obstaculos -->
  <ion-tab title="Detector" icon-off="ion-android-map" icon-on="ion-android-map" href="#/tab/walkHistory">
    <ion-nav-view name="tab-walkHistory"></ion-nav-view>
  </ion-tab>

  <!-- Pestaña capturar puntos -->
  <ion-tab title="Captura" icon-off="ion-android-navigate" icon-on="ion-android-navigate" href="#/tab/lps">
    <ion-nav-view name="tab-lps"></ion-nav-view>
  </ion-tab>

</ion-tabs>